{% extends "base.twig" %}

{% block main %}
    <h1>Gift</h1>
    <p>Le site de cadeaux</p>
    <ul>
        <li><a href="{{ url_for('categories') }}">Categories</a></li>
        <li><a href="{{ url_for('prestations') }}">Prestation</a></li>
        <li><a href="{{ url_for('boxes') }}">Boxes</a></li>
    </ul>
{% endblock %}

