{% extends "base.twig" %}

{% block main %}
    <h1>Gift</h1>
    <h2>Le site de cadeaux</h2>
    <div class="menuAccueil">
        <a href="{{ url_for('categories') }}">Categories</a>
        <a href="{{ url_for('prestations') }}">Prestation</a>
        <a href="{{ url_for('boxes') }}">Boxes</a>
    </div>
{% endblock %}

