{% extends "base.twig" %}

{% block main %}

<div class="ajoutCategorie">
    <p>Création d'une nouvelle catégorie :</p>
    <input name="nomCategorie" type="text">
    <button name="submit">Ajouter</button>
</div>

{% endblock %}