{% extends "base.twig" %}

{% block main %}
    <h1>Categories</h1>
    <ul>
        {% for categorie in categories %}
            <li><a href="{{ url_for('categorieId', { 'id':categorie.id }) }}" >{{ categorie.libelle | capitalize }}</a></li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('formulaireCateg') }}">Formulaire</a>
{% endblock %}
