{% extends "base.twig" %}

{% block main %}
    <h1>Boxes</h1>
    <input name="libelleCoffret" type="text" placeholder="libelle">
    <input name="descCoffret" type="text" placeholder="description">
    <input type="checkbox">
    <input name="messagekdoCoffret" type="text" placeholder="message cadeau">


{% endblock %}