{% extends "base.twig" %}

{% block main %}
    <ul>
    {% for box in boxes %}
        <li><a href="">{{ box.libelle }}</a></li>
    {% endfor %}
        <a href="{{ url_for('boxCreate') }}">Creez une nouvelle box ici !</a>
    </ul>
{% endblock %}

