@font-face {
    font-family: 'Bruno Ace';
    src: url('../fonts/Bruno_Ace/BrunoAceSC-Regular.ttf'); format("opentype");
}

@font-face {
    font-family: "Tilt_Neon";
    src: url("../fonts/Tilt_Neon/TiltNeon-Regular-VariableFont_XROT,YROT.ttf") format("opentype");
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Tilt_Neon', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

header {

}

.container {
    background-color: #2F3C7E;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px 10px 10px 10px;
}

.div-header {
    display: flex;
    flex-direction: row;
    background-color: #FBEAEB;
    margin-left: 120px;
    margin-right: 120px;
    padding: 10px 20px 10px 20px;
}

.div-header a {
    text-decoration: none;
    color: #2F3C7E;
}

.logo a {
    font-size: 36px;
}

#sign {
    display: inline;
}

.menuAccueil {
    text-align: center;
}

.menuAccueil a {
    background-color: #2F3C7E;
    color: white;
    text-decoration: none;
    padding: 10px 80px 10px 80px;
    margin-left: 50px;
    margin-right: 50px;
}

main .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 4em 2em;
}

.div-content {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-self: center;
    justify-content: flex-end;
    align-items: center;
    height: 400px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px 2px;
    overflow: hidden;
    transition: all 0.2s ease;
}

.div-content:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px 4px;
}


.div-content img {
    position: absolute;
    z-index: 0;
    display: flex;
    width: 100%;
    height: 100%;
}

.div-content .card-attribute {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.div-content .title {
    color: #FBEAEB;
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.8);
    padding: 2px 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.div-content .desc {
    font-size: 1em;
}

#tarif {
    color: #FBEAEB;
    font-size: 1em;
    background-color: rgba(128, 128, 128, 0.8);
    padding: 2px 5px;
    border-radius: 5px;
}

.main-content #tarif {
    color: black;
    padding: 0;
    background: none;
}

#tarif > span {
    font-size: 1em;
}

.prestation-detail {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
}

.prestation-detail .image-prestation img {
    width: 400px;
    height: 400px;
}

.prestation-detail .image-prestation {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0px 15px 0;
    border-radius: 10px;
    overflow: hidden;
}

.prestation-detail .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 50px;
}

.prestation-detail .main-content .title {
    font-size: 2em;
    font-weight: bold;
}

.prestation-detail .main-content .card-attribute {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

#button {
    margin-top: 10px;
    align-items: center;
    background-clip: padding-box;
    background-color: #2F3C7E;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 1px;
    line-height: 1.25;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

#button:hover,
#button:focus {
    background-color: rgba(47, 60, 126, 0.8);
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 12px;
}

#button:hover {
    transform: translateY(-1px) scale(1.05);
}

#button:active {
    background-color: #2F3C7E;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

.bottom-content {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

button#connexion {
    background-color: #2F3C7E;
    color: #fff;
    box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.2);
    padding: 10px 15px;
    border-radius: 10px;
    transition: background-color .2s ease-in-out;
    margin-left: 60px;
}


main {
    background-color: #ffffff;
    color: #000;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input, label {
    font-family: "Tilt_Neon", sans-serif;
}

.sign {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 450px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.2);
    margin-top: 60px;
    padding: 20px;
}

.sign-up {
    height: 600px;
}

#sign {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.sign .title {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

.sign .input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sign .input-box .input-box-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.sign input {
    width: 100%;
    margin-right: 20px;
    font-size: 1.1em;
}

button#connexion {
    border: none;
    margin-left: 0;
    font-size: 1.1em;
    height: 70px;
}

.sending button {
    width: 125px;
    height: 55px;
    font-size: 1.1em;
    border: none;
}

button#connexion:hover, .sending button:hover {
    background-color: rgba(47, 60, 126, 0.8);
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
}

input#checkBox {
    width: inherit;
}

.bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.icon {
    color: rgba(0, 0, 0, 0.9);
}

input {
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.2);
    transition: box-shadow .2s ease-in-out, letter-spacing .4s ease;
    outline: none;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: .7em;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.form-group input {
    background-color: #FFFFFF;
    width: 100%;
    padding: 8px;
    font-size: 1em;
}

.form-group label {
    display: flex;
    font-size: 1.1em;
    margin-right: 20px;
}

.form-title {
    text-align: center;
    margin-bottom: -10px;
}

.sending {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.boxesPredefinis {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-left: 20px;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.boxesPredefinis .content {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 200px;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.2);
}

.boxesPredefinis .content a {
    color: #2F3C7E;
    font-size: 1.2em;
    text-decoration: none;
    margin-bottom: 10px;
}

.boxesUser {
    border-top-left-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    background-color: #2F3C7E;
}

.boxesUser .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.boxesUser .content a {
    color: #FBEAEB;
    font-size: 1.2em;
    text-decoration: none;
    margin-bottom: 10px;
}

.addBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.addBox a {
    color: #FBEAEB;
    font-size: 1.2em;
    text-decoration: none;
    background-color: #2F3C7E;
    padding: 10px 20px;
    border-radius: 15px;
    margin-bottom: 10px;
}
